chromadb
langchain-chroma
langchain-community
langchain-core
langchain-openai
langchain-huggingface
langchain-text-splitters
arxiv
requests
urllib3
unstructured[pdf]
transformers
torch
sentence-transformers
pydantic
pydantic-settings
python-dotenv
fastapi
uvicorn[standard]
python-multipart